/* Global css */
:root {
  --main-bg-color: brown;
  --dark-bg-color:black;
  --text-dark:black;
  --text-light:white;
  --text-orange:orange;
}

.Headings{
  margin: 1.5rem 0;
  color: var(--text-dark);
}
.text_orange{
  color: var(--text-orange);
}

/* home_hero_section */
/* .home_hero_section{
  height: 50vh;
} */
.carousel-item img{
  max-height: 70vh; !important
}

/* register_cta_section */
.register_cta_section{
  background-color: black;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  color: white;
  margin: 0;
  text-align: center;
}

.register_cta_section h6,.register_cta_section h4{
  padding: 0 1rem;
}

.register_cta{
  text-decoration: none;
  padding: .2rem 1rem;
  border-radius: 1rem;
  color: var(--text-light);
  border: 1px solid var(--text-orange);
  text-transform: uppercase;
}
.register_cta_section a :hover{
  text-decoration: none;
  color: var(--text-light);
}

/* latest_news_section */
.latest_news_section{
    margin: 2rem auto;
}
.card_image img{
  width: 100%;
}

/* clientel */
.clientel img{
  width: 100%;
  margin: 0 auto;
}

/* footer */
.footer{
  background-color: var(--dark-bg-color);
  color: var(--text-light);
  padding: 1.5rem 0;
  border-top: 2px solid var(--text-orange);
}


/* Custom Navigation */
.navbar{
    background: black !important;
}
.nav-link{
  color: white;
}

/* owl customization */
.owl-prev{
  position: absolute;
  top: 30%;
  left: -1vw;
}
.owl-prev span, .owl-next span{
  font-size: 2.5rem;

}
.owl-next{
  position: absolute;
  top: 30%;
  right: -1vw;
}
.owl-carousel img{
  max-width: 70%;
  margin: 0 auto;;
}

@media screen and (min-width: 768px) {
  .navbar {
      position: absolute;
      left:50%;
      top: 3%;
      width: 80%;
      z-index: 100;
      /* transform: translate(135px,15px); */
      transform: translate(-50%,3%);
      background: black !important;
      border-radius: 1.7rem;
  }

  .navbar{
    padding: 0.2rem 1rem !important;
  }

  .clientel img{
    width: 10rem;
    margin: 0 auto;
  }

}
